body {
    color: white;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.box {
    border: 2px solid darkblue;
    width: 300px;
    background-color: blue;
    padding: 10px;
    margin: 10px;
    animation: animatie linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@keyframes animatie {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.left-box {
}
.right-box {
    direction: rtl;
}
