.nav {
    padding: 0;
    margin: 0;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(100, 100, 100);
}
.nav li {
    float: right;
    border-left: 1px solid black;
}
.nav li:first-child {
    float: left;
    border-left: none;
    display: block;
    text-align: center;
    margin-left: 16px;
    padding: 4px 6px;
    font-size: 32px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover {
    background-color: red;

}
